.main-container{
  max-width: 1024px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}

.main-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section input{
  position: relative;
  width: 100%;
  padding: 14px;

  font-size: 20px;
  font-weight: 700;

  border-radius: 20px;
  border: 0;

  line-height: 30px;
  box-shadow: inset var(--input-border-color) 0 0 0 2px;
  background: transparent;
  color: var(--main-font-color);

  transition: all 0.5s ease;
}

.main-section input::placeholder{
  color: var(--yellow-color);
}

.main-section input:focus{
  outline: 0;
  box-shadow: 0 0 0 0 var(--main-font-color) inset, var(--yellow-color) 0 0 0 3px;
}

.main-section button{
  position: relative;
  max-width: 350px;
  width: 100%;
  padding: 15px;

  font-size: 24px;
  font-weight: 700;
  line-height: 120.5%;
  text-align: center;

  border-radius: 20px;
  border: none;

  color: var(--button-font-color);
  background-color: var(--yellow-color);

  transition: all 0.5s ease 0s;
}

@media (hover:hover){
  .main-section input:hover{
    box-shadow: 0 0 0 0 var(--main-font-color) inset, var(--yellow-color) 0 0 0 2px;
  }

  .main-section button:not([disabled]):hover{
    transform: scale(1.05);
    color: var(--yellow-color);
    background-color: var(--card-background-color);
    cursor: pointer;
  }
}

.main-section button:disabled{
  color: var(--main-font-color);
  background-color: var(--disabled-button-color);
}

.error-block{
  font-size: 30px;
  font-weight: 700;
  color:var(--error-color);

  text-align: center;
}

.error-block img{
  max-width: 110px;
  width: 100%;
}

.search-block{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  width: 100%;
}

@media (max-width: 600px) {
  .search-block{
    flex-direction: column;
  }

  .main-section button{
    max-width: 100%;
  }
}