.header{
  max-width: 1024px;
  width: 100%;
  margin: 10px auto 30px;
  padding: 0px 20px;
}

.header-container{
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  border-radius: 20px;
  text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.25); 
  background-color: rgb(32, 44, 60);
}

.header img{
  width: 50px;
}

@media (max-width: 600px) {
  .header-container {
    padding: 10px 15px;
  }
  .header-container h1{
    font-size: 26px;
  }
}