#root{
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--main-background-color);
}

.app{
  max-width: 1440px;
  margin: 0 auto;
}

.toggle-theme{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--slider-background-color);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;


  transition: 0.4s;

  box-shadow: 0 0px 15px var(--slider-shadow-color);

  background: var(--slider-before-background-color) url("../src/assets/images/weather-icons/—Ålear-night.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: var(--slider-background-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--slider-shadow-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: var(--slider-before-background-color) url("../src/assets/images/weather-icons/sun-light.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}